<%= link_to 'Back', projects_path, class: 'btn btn-light mb-3' %>
<div class="card">
  <!-- Project title card-->
  <div class="card-body">
    <h2 class ='card-title d-flex justify-content-between mb-4'>
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit', edit_project_path(@project), class: 'btn btn-light' %>
        <%= link_to 'Destroy', @project, method: :delete, class: "btn btn-secondary", data: { confirm: "Are you sure?"}  %>
      </div>
    </h2>
  <!-- End Project title card -->

  <!-- add task form -->
    <div class="mb-4">
      <%= render "tasks/task-form" %>
    </div>
  <!-- End add task form -->


  <!-- Listing tasks start -->
  <h4>Tasks</h4>
  <% @project.tasks.each do |task| %>
    <% if task.persisted? %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="badge badge-primary mb-3"><%= task.status %></span>
            <div>
              <%= link_to 'Edit', edit_project_task_path(task.project, task), class: "btn btn-light btn-sm" %>
              <%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm" %>
            </div>
          </div>
          <h5 class ='card-title mb-2'>
            <span><%= task.name %></span>
          </h5>
          <p><%= task.description  %></p>
        </div>
      </div>
      <!-- End Listing Tasks-->
    <% end %>
  <% end %>
  <!-- End Listing Tasks (with do functions) -->
  </div>
  <!-- End card body-->
</div>
<!-- End card -->
